<?xml version="1.0"?>

<robot xmlns:xacro='http://www.ros.org/wiki/xacro'
       xmlns:gz='http://gazebosim.org/schema'>

<!-- PROPERTY -->
<xacro:property name='base_mass' value='5'/>
<xacro:property name='base_size_x' value='0.3'/>
<xacro:property name='base_size_y' value='0.3'/>
<xacro:property name='base_size_z' value='0.1'/>

<xacro:property name='base_offset_z' value='0.0973 '/> <!-- 0.0973 -->
<xacro:property name='nav_offset_z' value='0'/>
<xacro:property name='nav_offset_x' value='0.032'/>

<!-- LINKS -->
<link name='base_footprint'>
</link>

<link name='base_link'>
  <xacro:box_inertia m='${base_mass}' x='${base_size_x}' y='${base_size_y}' z='${base_size_z}'/>
  <visual>
    <geometry>
      <mesh filename='package://${meshes_dir}/base.obj' scale='${creo_scale} ${creo_scale} ${creo_scale}'/>
    </geometry>
    <material name='blue'/>
  </visual>
  <collision>
    <geometry>
      <box size='${base_size_x} ${base_size_y} ${base_size_z}'/>
    </geometry>
  </collision>
</link>

<link name='nav_module_mount'>
  <visual>
    <origin xyz='0 0 0' rpy='0 0 0'/>
    <geometry> <mesh filename='package://${meshes_dir}/navigation.obj' scale='${creo_scale} ${creo_scale} ${creo_scale}'/> </geometry>
    <material name='gray'/>
  </visual>
</link>

<!-- JOINTS -->
<joint name='body_link_joint' type='fixed'>
    <parent link='base_footprint' />
    <child link='base_link' />
    <origin xyz='0 0 ${base_offset_z}' rpy='0 0 0'/>
</joint>

<joint name='nav_module_mount_joint' type='fixed'>
  <parent link='base_link'/>
  <child link='nav_module_mount'/>
  <origin xyz='${nav_offset_x} 0 ${nav_offset_z}' rpy='0 0 0'/>
</joint>

</robot>