<?xml version='1.0'?>
<!-- Local sim bumper TF frames used when structure_source is local. -->

<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>

<xacro:property name='bumper_mass' value='0.01'/>

<xacro:macro name='render_bumper' params='b'>
  <link name='bumper_${b["name"]}_link'>
    <xacro:box_inertia m='${bumper_mass}' x='${b["size"][0]}' y='${b["size"][1]}' z='${b["size"][2]}'/>
    <visual>
      <origin xyz='${b["size"][0]/2} 0 0' rpy='0 0 0'/>
      <geometry><box size='${b["size"][0]} ${b["size"][1]} ${b["size"][2]}'/></geometry>
      <material name='red'/>
    </visual>
    <collision>
      <origin xyz='${b["size"][0]/2} 0 0' rpy='0 0 0'/>
      <geometry><box size='${b["size"][0]} ${b["size"][1]} ${b["size"][2]}'/></geometry>
    </collision>
  </link>

  <joint name='bumper_${b["name"]}_joint' type='fixed'>
    <parent link='${b["parent_frame"]}'/>
    <child link='bumper_${b["name"]}_link'/>
    <origin xyz='${b["offset"][0]} ${b["offset"][1]} ${b["offset"][2]}' rpy='0 0 ${b["yaw"]}'/>
  </joint>
</xacro:macro>

<xacro:macro name='bumper_loop' params='items'>
  <xacro:if value='${items}'>
    <xacro:property name='current_b' value='${items.pop(0)}'/>
    <xacro:render_bumper b='${current_b}'/>
    <xacro:bumper_loop items='${items}'/>
  </xacro:if>
</xacro:macro>

<xacro:bumper_loop items='${list(bumpers)}'/>

</robot>