<?xml version='1.0'?>

<robot
  name='my_robot'
  xmlns:xacro='http://ros.org/wiki/xacro'
  xmlns:gz='http://gazebosim.org/schema'>

<!-- ARGUMENTS -->
<xacro:arg name="config_path" default="" />

<!-- CONFIG -->
<xacro:property name="robot_cfg" value="${xacro.load_yaml('$(arg config_path)')}" />
<xacro:property name="bumpers" value="${robot_cfg['/**']['ros__parameters']['bumpers']}" />
<xacro:property name="cliff_sensors" value="${robot_cfg['/**']['ros__parameters']['cliff_sensors']}" />

<!-- CONSTANTS -->
<xacro:property name='meshes_dir' value='rmodus_sim/meshes'/>
<xacro:property name='creo_scale' value='0.001' />

<!-- COLORS -->
<xacro:property name='alpha' value='1'/> <!-- {0 - 1} -->
<material name='red'> <color rgba='0.8 0.0 0.0 ${alpha}'/> </material>
<material name='green'> <color rgba='0.0 0.8 0.0 ${alpha}'/> </material>
<material name='blue'> <color rgba='0.0 0.0 0.8 ${alpha}'/> </material>
<material name='gray'> <color rgba='0.5 0.5 0.5 ${alpha}'/> </material>

<!-- FUNCTIONS -->
<xacro:macro name='box_inertia' params='m x y z'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (y*y + z*z)}' ixy='0.0' ixz='0.0' 
             iyy='${m/12 * (x*x + z*z)}' iyz='0.0' 
             izz='${m/12 * (x*x + y*y)}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='cylinder_inertia' params='m r h'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (3*r*r + h*h)}' ixy='0.0' ixz='0.0' 
              iyy='${m/12 * (3*r*r + h*h)}' iyz='0.0' 
              izz='${m/2 * r*r}'/>
    </inertial>
</xacro:macro>

<xacro:macro name='sphere_inertia' params='m r'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${2/5 * m * r * r}' ixy='0.0' ixz='0.0' 
             iyy='${2/5 * m * r * r}' iyz='0.0' 
             izz='${2/5 * m * r * r}'/>
  </inertial>
</xacro:macro>

<!-- INCLUDE -->
<xacro:include filename='base.urdf.xacro'/>
<xacro:include filename='bumpers.urdf.xacro'/>
<xacro:include filename='cliff_sensors.urdf.xacro'/>
<xacro:include filename='wheels.urdf.xacro'/>
<xacro:include filename='lidar.urdf.xacro'/>
<xacro:include filename='imu.urdf.xacro'/>
<xacro:include filename='control.urdf.xacro'/>

</robot>