<?xml version='1.0'?>
<!-- Simulation robot description.
     Includes the shared base from rmodus_description and adds Gazebo plugins. -->

<robot
  name='my_robot'
  xmlns:xacro='http://ros.org/wiki/xacro'
  xmlns:gz='http://gazebosim.org/schema'>

<!-- ARGUMENTS -->
<xacro:arg name='config_path' default='' />
<xacro:arg name='structure_source' default='local' />
<xacro:property name='structure_source' value='$(arg structure_source)'/>

<!-- CONSTANTS used by sim-specific xacro (mesh paths) -->
<xacro:property name='meshes_dir' value='rmodus_sim/meshes'/>
<xacro:property name='creo_scale' value='0.001' />

<!-- Shared config and helpers -->
<xacro:property name='robot_cfg' value="${xacro.load_yaml('$(arg config_path)')}" />
<xacro:property name='bumpers' value="${robot_cfg['/**']['ros__parameters']['bumpers']}" />
<xacro:property name='cliff_sensors' value="${robot_cfg['/**']['ros__parameters']['cliff_sensors']}" />
<xacro:property name='base_cfg' value="${robot_cfg['/**']['ros__parameters']['base_link']}" />
<xacro:property name='imu_cfg' value="${robot_cfg['/**']['ros__parameters']['imu']}" />
<xacro:property name='lidar_cfg' value="${robot_cfg['/**']['ros__parameters']['lidar']}" />
<xacro:property name='use_mesh' value='true' />
<xacro:property name='mesh_scale' value='${creo_scale}' />

<xacro:property name='alpha' value='1'/>
<material name='red'> <color rgba='0.8 0.0 0.0 ${alpha}'/> </material>
<material name='green'> <color rgba='0.0 0.8 0.0 ${alpha}'/> </material>
<material name='blue'> <color rgba='0.0 0.0 0.8 ${alpha}'/> </material>
<material name='gray'> <color rgba='0.5 0.5 0.5 ${alpha}'/> </material>

<xacro:macro name='box_inertia' params='m x y z'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (y*y + z*z)}' ixy='0.0' ixz='0.0'
             iyy='${m/12 * (x*x + z*z)}' iyz='0.0'
             izz='${m/12 * (x*x + y*y)}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='cylinder_inertia' params='m r h'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (3*r*r + h*h)}' ixy='0.0' ixz='0.0'
             iyy='${m/12 * (3*r*r + h*h)}' iyz='0.0'
             izz='${m/2 * r*r}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='sphere_inertia' params='m r'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${2/5 * m * r * r}' ixy='0.0' ixz='0.0'
             iyy='${2/5 * m * r * r}' iyz='0.0'
             izz='${2/5 * m * r * r}'/>
  </inertial>
</xacro:macro>

<!-- Structural components are switchable by source. -->
<xacro:if value='${structure_source == "description"}'>
  <xacro:include filename='$(find rmodus_description)/urdf/base.urdf.xacro'/>
  <xacro:include filename='$(find rmodus_description)/urdf/imu.urdf.xacro'/>
  <xacro:include filename='$(find rmodus_description)/urdf/lidar.urdf.xacro'/>
  <xacro:include filename='$(find rmodus_description)/urdf/bumpers.urdf.xacro'/>
  <xacro:include filename='$(find rmodus_description)/urdf/cliff_sensors.urdf.xacro'/>
</xacro:if>

<xacro:unless value='${structure_source == "description"}'>
  <xacro:include filename='base.urdf.xacro'/>
  <xacro:include filename='imu.urdf.xacro'/>
  <xacro:include filename='lidar.urdf.xacro'/>
  <xacro:include filename='bumpers.urdf.xacro'/>
  <xacro:include filename='cliff_sensors.urdf.xacro'/>
</xacro:unless>

<!-- Sim-only: wheels with mesh visuals -->
<xacro:include filename='wheels.urdf.xacro'/>

<!-- Sim-only: Gazebo sensor plugins -->
<xacro:include filename='gz_imu.urdf.xacro'/>
<xacro:include filename='gz_lidar.urdf.xacro'/>
<xacro:include filename='gz_bumpers.urdf.xacro'/>
<xacro:include filename='gz_cliff_sensors.urdf.xacro'/>
<xacro:include filename='control.urdf.xacro'/>

</robot>