<?xml version='1.0'?>
<!-- Bumpers: bumper_<name>_mount = physical box centred on mount_offset,
     frame_id (default bumper_<name>_contact) = contact point, by default on the front face [size[0]/2, 0, 0].
     rmodus_bumper publishes the same chain as static TF only when description is not running.
     Expects bumper_items in scope. -->

<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>

<xacro:macro name='render_bumper_body' params='b'>
  <xacro:if value='${b.get("enabled", True)}'>
    <xacro:property name='bsize' value='${b.get("size", [0.02, 0.30, 0.05])}'/>
    <xacro:property name='boff' value='${b.get("mount_offset", [0.0, 0.0, 0.0])}'/>
    <xacro:property name='brpy' value='${b.get("mount_rpy", [0.0, 0.0, 0.0])}'/>
    <xacro:property name='coff' value='${b.get("contact_offset", [bsize[0] / 2.0, 0.0, 0.0])}'/>
    <xacro:property name='crpy' value='${b.get("contact_rpy", [0.0, 0.0, 0.0])}'/>
    <xacro:property name='cframe' value='${b.get("frame_id") or "bumper_" + b["name"] + "_contact"}'/>
    <link name='bumper_${b["name"]}_mount'>
      <inertial>
        <mass value='0.01'/>
        <inertia ixx='1e-5' ixy='0' ixz='0' iyy='1e-5' iyz='0' izz='1e-5'/>
      </inertial>
      <visual>
        <geometry><box size='${bsize[0]} ${bsize[1]} ${bsize[2]}'/></geometry>
        <material name='bumper_mount_mat'/>
      </visual>
      <collision>
        <geometry><box size='${bsize[0]} ${bsize[1]} ${bsize[2]}'/></geometry>
      </collision>
    </link>
    <joint name='bumper_${b["name"]}_mount_joint' type='fixed'>
      <parent link='${b.get("mount_parent_frame", "base_link")}'/>
      <child link='bumper_${b["name"]}_mount'/>
      <origin xyz='${boff[0]} ${boff[1]} ${boff[2]}' rpy='${brpy[0]} ${brpy[1]} ${brpy[2]}'/>
    </joint>
    <link name='${cframe}'/>
    <joint name='bumper_${b["name"]}_contact_joint' type='fixed'>
      <parent link='bumper_${b["name"]}_mount'/>
      <child link='${cframe}'/>
      <origin xyz='${coff[0]} ${coff[1]} ${coff[2]}' rpy='${crpy[0]} ${crpy[1]} ${crpy[2]}'/>
    </joint>
  </xacro:if>
</xacro:macro>

<xacro:macro name='bumper_body_loop' params='items'>
  <xacro:if value='${items}'>
    <xacro:property name='current_b' value='${items.pop(0)}'/>
    <xacro:render_bumper_body b='${current_b}'/>
    <xacro:bumper_body_loop items='${items}'/>
  </xacro:if>
</xacro:macro>

<xacro:bumper_body_loop items='${list(bumper_items)}'/>

</robot>
