<?xml version='1.0'?>
<!-- Kit overlay: rmodus_mount (+ optional imu/lidar) on existing base_link. -->

<robot
  name='rmodus_kit'
  xmlns:xacro='http://www.ros.org/wiki/xacro'>

<xacro:arg name='config_path' default='' />
<xacro:arg name='include_chassis' default='false' />
<xacro:arg name='chassis_contents_path' default='' />

<xacro:property name='robot_cfg' value="${xacro.load_yaml('$(arg config_path)')}" />
<xacro:property name='params' value="${robot_cfg['/**']['ros__parameters']}" />
<xacro:property name='module_cfg' value="${params.get('rmodus_module', params.get('nav_module', dict()))}" />
<xacro:property name='imu_cfg' value="${params.get('imu', dict())}" />
<xacro:property name='lidar_cfg' value="${params.get('lidar', dict())}" />
<xacro:property name='use_mesh' value='false' />
<xacro:property name='meshes_dir' value='rmodus_description/meshes' />
<xacro:property name='mesh_scale' value='1.0' />

<xacro:property name='alpha' value='1'/>
<xacro:property name='main_module_color' value='0.45 0.48 0.52 ${alpha}'/>
<xacro:property name='imu_mount_color' value='1.0 0.62 0.20 ${alpha}'/>
<xacro:property name='imu_link_color' value='1.0 0.82 0.35 ${alpha}'/>
<xacro:property name='lidar_mount_color' value='0.30 0.62 1.0 ${alpha}'/>
<xacro:property name='lidar_beam_color' value='0.10 0.90 0.95 ${alpha}'/>

<material name='main_module_mat'> <color rgba='${main_module_color}'/> </material>
<material name='imu_mount_mat'> <color rgba='${imu_mount_color}'/> </material>
<material name='imu_link_mat'> <color rgba='${imu_link_color}'/> </material>
<material name='lidar_mount_mat'> <color rgba='${lidar_mount_color}'/> </material>
<material name='lidar_beam_mat'> <color rgba='${lidar_beam_color}'/> </material>

<xacro:macro name='box_inertia' params='m x y z'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (y*y + z*z)}' ixy='0.0' ixz='0.0'
             iyy='${m/12 * (x*x + z*z)}' iyz='0.0'
             izz='${m/12 * (x*x + y*y)}'/>
  </inertial>
</xacro:macro>

<!-- Host: either compose rmodus_chassis or stub base_link for foreign platform. -->
<xacro:if value="$(arg include_chassis)">
  <xacro:property name='base_cfg' value="${params['base_link']}" />
  <xacro:include filename="$(arg chassis_contents_path)"/>
  <xacro:rmodus_chassis_links/>
</xacro:if>
<xacro:unless value="$(arg include_chassis)">
  <!-- Reference link only; foreign host (or prior RSP) owns base_link TF. -->
  <link name='base_link'/>
</xacro:unless>

<xacro:include filename='rmodus_module.urdf.xacro'/>

<xacro:if value="${imu_cfg.get('enabled', False)}">
  <xacro:include filename='imu.urdf.xacro'/>
</xacro:if>
<xacro:if value="${lidar_cfg.get('enabled', False)}">
  <xacro:include filename='lidar.urdf.xacro'/>
</xacro:if>

</robot>
