<?xml version='1.0'?>
<!-- Shared robot description entry point.
     Includes all base URDF components common to both hw and sim.
     Gazebo plugins are added by rmodus_sim/urdf/ includes. -->

<robot
  name='my_robot'
  xmlns:xacro='http://www.ros.org/wiki/xacro'>

<!-- ARGUMENTS -->
<xacro:arg name='config_path' default='' />

<!-- CONFIG -->
<xacro:property name='robot_cfg'     value="${xacro.load_yaml('$(arg config_path)')}" />
<xacro:property name='bumpers'       value="${robot_cfg['/**']['ros__parameters']['bumpers']}" />
<xacro:property name='cliff_sensors' value="${robot_cfg['/**']['ros__parameters']['cliff_sensors']}" />
<xacro:property name='base_cfg'      value="${robot_cfg['/**']['ros__parameters']['base_link']}" />
<xacro:property name='imu_cfg'       value="${robot_cfg['/**']['ros__parameters']['imu']}" />
<xacro:property name='lidar_cfg'     value="${robot_cfg['/**']['ros__parameters']['lidar']}" />
<xacro:property name='use_mesh'      value='false' />
<xacro:property name='meshes_dir'    value='rmodus_description/meshes' />
<xacro:property name='mesh_scale'    value='1.0' />

<!-- COLORS -->
<xacro:property name='alpha' value='1'/>
<xacro:property name='base_color' value='0.28 0.31 0.35 ${alpha}'/>
<xacro:property name='main_module_color' value='0.45 0.48 0.52 ${alpha}'/>
<xacro:property name='wheel_color' value='0.20 0.22 0.24 ${alpha}'/>
<xacro:property name='imu_mount_color' value='1.0 0.62 0.20 ${alpha}'/>
<xacro:property name='imu_link_color' value='1.0 0.82 0.35 ${alpha}'/>
<xacro:property name='lidar_mount_color' value='0.30 0.62 1.0 ${alpha}'/>
<xacro:property name='lidar_beam_color' value='0.10 0.90 0.95 ${alpha}'/>
<xacro:property name='bumper_mount_color' value='0.90 0.78 0.12 ${alpha}'/>
<xacro:property name='bumper_contact_color' value='1.0 0.95 0.25 ${alpha}'/>
<xacro:property name='cliff_mount_color' value='0.78 0.35 0.88 ${alpha}'/>
<xacro:property name='cliff_beam_color' value='0.95 0.45 1.0 ${alpha}'/>

<material name='base_mat'> <color rgba='${base_color}'/> </material>
<material name='main_module_mat'> <color rgba='${main_module_color}'/> </material>
<material name='wheel_mat'> <color rgba='${wheel_color}'/> </material>
<material name='imu_mount_mat'> <color rgba='${imu_mount_color}'/> </material>
<material name='imu_link_mat'> <color rgba='${imu_link_color}'/> </material>
<material name='lidar_mount_mat'> <color rgba='${lidar_mount_color}'/> </material>
<material name='lidar_beam_mat'> <color rgba='${lidar_beam_color}'/> </material>
<material name='bumper_mount_mat'> <color rgba='${bumper_mount_color}'/> </material>
<material name='bumper_contact_mat'> <color rgba='${bumper_contact_color}'/> </material>
<material name='cliff_mount_mat'> <color rgba='${cliff_mount_color}'/> </material>
<material name='cliff_beam_mat'> <color rgba='${cliff_beam_color}'/> </material>

<!-- INERTIA HELPERS -->
<xacro:macro name='box_inertia' params='m x y z'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (y*y + z*z)}' ixy='0.0' ixz='0.0'
             iyy='${m/12 * (x*x + z*z)}' iyz='0.0'
             izz='${m/12 * (x*x + y*y)}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='cylinder_inertia' params='m r h'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (3*r*r + h*h)}' ixy='0.0' ixz='0.0'
             iyy='${m/12 * (3*r*r + h*h)}' iyz='0.0'
             izz='${m/2 * r*r}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='sphere_inertia' params='m r'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${2/5 * m * r * r}' ixy='0.0' ixz='0.0'
             iyy='${2/5 * m * r * r}' iyz='0.0'
             izz='${2/5 * m * r * r}'/>
  </inertial>
</xacro:macro>

<!-- INCLUDES -->
<xacro:include filename='base.urdf.xacro'/>
<xacro:include filename='imu.urdf.xacro'/>
<xacro:include filename='lidar.urdf.xacro'/>
<xacro:include filename='bumpers.urdf.xacro'/>
<xacro:include filename='cliff_sensors.urdf.xacro'/>

</robot>
