<?xml version='1.0'?>
<!-- IMU on the description frame imu_link. Topic follows imu.topic. -->

<robot xmlns:xacro='http://www.ros.org/wiki/xacro'>

<gazebo>
  <plugin filename='libgz-sim-imu-system.so' name='gz::sim::systems::Imu'/>
</gazebo>

<gazebo reference='imu_mount_joint'>
  <preserveFixedJoint>true</preserveFixedJoint>
</gazebo>
<gazebo reference='imu_joint'>
  <preserveFixedJoint>true</preserveFixedJoint>
</gazebo>

<gazebo reference='imu_link'>
  <sensor name='imu_sensor' type='imu'>
    <always_on>1</always_on>
    <update_rate>${imu_cfg.get("update_rate", 100)}</update_rate>
    <topic>${imu_cfg.get("topic", "/imu/data")}</topic>
    <gz_frame_id>${imu_cfg.get("frame_id", "imu_link")}</gz_frame_id>
  </sensor>
</gazebo>

</robot>
