<?xml version='1.0'?>
<!-- Sim defaults for the single model in rmodus_description/urdf/robot.urdf.xacro.
     Geometry is not copied here. Launch passes the same arguments directly. -->

<robot
  name='rmodus'
  xmlns:xacro='http://www.ros.org/wiki/xacro'
  xmlns:gz='http://gazebosim.org/schema'>

<xacro:arg name='config_path' default=''/>
<xacro:arg name='chassis_contents_path' default='$(find rmodus_chassis)/urdf/chassis_contents.urdf.xacro'/>
<xacro:arg name='include_chassis' default='true'/>
<xacro:arg name='joint_type' default='continuous'/>
<xacro:arg name='gazebo_overlay' default='true'/>
<xacro:arg name='gazebo_urdf_dir' default='$(find rmodus_gazebo)/urdf'/>

<xacro:include filename='$(find rmodus_description)/urdf/robot.urdf.xacro'/>

</robot>
