<?xml version='1.0'?>
<!-- Robot geometry definition - hardware package
     Configurable sensor positions are exposed as xacro:arg so they can be
     overridden from a launch file (e.g. loaded from robot_geom.yaml via GUI). -->

<robot
  name='my_robot'
  xmlns:xacro='http://www.ros.org/wiki/xacro'
  xmlns:gz='http://gazebosim.org/schema'>

<!-- ARGUMENTS -->
<xacro:arg name="config_path" default="" />

<!-- CONFIG -->
<xacro:property name="robot_cfg" value="${xacro.load_yaml('$(arg config_path)')}" />
<xacro:property name="bumpers" value="${robot_cfg['/**']['ros__parameters']['bumpers']}" />
<xacro:property name="cliff_sensors" value="${robot_cfg['/**']['ros__parameters']['cliff_sensors']}" />
<xacro:property name="imu_cfg" value="${robot_cfg['/**']['ros__parameters']['imu']}" />
<xacro:property name="lidar_cfg" value="${robot_cfg['/**']['ros__parameters']['lidar']}" />

<!-- CONSTANTS -->
<xacro:property name='base_mass' value='5'/>
<xacro:property name='base_size_x' value='0.5'/>
<xacro:property name='base_size_y' value='0.5'/>
<xacro:property name='base_size_z' value='0.1'/>

<xacro:property name='base_offset_z' value='0.0973 '/> <!-- 0.0973 -->
<xacro:property name='wheel_offset_z' value='-0.0473'/>
<xacro:property name='nav_offset_z' value='0'/>
<xacro:property name='nav_offset_x' value='0.032'/>

<xacro:property name='cliff_sensor_mass' value='0.001'/>
<xacro:property name='bumper_thickness' value='0.005'/>
<xacro:property name='bumper_height'    value='0.04'/>
<xacro:property name='bumper_mass'      value='0.01'/>

<xacro:arg name='bumper_parent' default='base_link'/>

<!-- COLORS -->

<xacro:property name='alpha' value='1'/> <!-- {0 - 1} -->
<material name='red'> <color rgba='0.8 0.0 0.0 ${alpha}'/> </material>
<material name='green'> <color rgba='0.0 0.8 0.0 ${alpha}'/> </material>
<material name='blue'> <color rgba='0.0 0.0 0.8 ${alpha}'/> </material>
<material name='gray'> <color rgba='0.5 0.5 0.5 ${alpha}'/> </material>

<!-- FUNCTIONS -->
<xacro:macro name='box_inertia' params='m x y z'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (y*y + z*z)}' ixy='0.0' ixz='0.0' 
             iyy='${m/12 * (x*x + z*z)}' iyz='0.0' 
             izz='${m/12 * (x*x + y*y)}'/>
  </inertial>
</xacro:macro>

<xacro:macro name='cylinder_inertia' params='m r h'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${m/12 * (3*r*r + h*h)}' ixy='0.0' ixz='0.0' 
              iyy='${m/12 * (3*r*r + h*h)}' iyz='0.0' 
              izz='${m/2 * r*r}'/>
    </inertial>
</xacro:macro>

<xacro:macro name='sphere_inertia' params='m r'>
  <inertial>
    <mass value='${m}'/>
    <inertia ixx='${2/5 * m * r * r}' ixy='0.0' ixz='0.0' 
             iyy='${2/5 * m * r * r}' iyz='0.0' 
             izz='${2/5 * m * r * r}'/>
  </inertial>
</xacro:macro>

<!-- LINKS -->
<link name='base_footprint'>
</link>

<link name='base_link'>
  <xacro:box_inertia m='${base_mass}' x='${base_size_x}' y='${base_size_y}' z='${base_size_z}'/>
  <visual>
    <geometry>
      <box size='${base_size_x} ${base_size_y} ${base_size_z}'/>
    </geometry>
    <material name='blue'/>
  </visual>
  <collision>
    <geometry>
      <box size='${base_size_x} ${base_size_y} ${base_size_z}'/>
    </geometry>
  </collision>
</link>

<link name='nav_module_mount'>
  <visual>
    <origin xyz='0 0 0' rpy='0 0 0'/>
    <geometry> <cylinder radius='0.01' length='0.04'/> </geometry>
    <material name='gray'/>
  </visual>
</link>

<link name='lidar_beam'>
  <visual>
    <geometry> <cylinder radius='0.01' length='0.04'/> </geometry>
    <material name='red'/>
  </visual>
</link>

<link name='imu_mount'>
  <visual>
    <geometry> <box size='0.02 0.02 0.01'/> </geometry>
    <material name='red'/>
  </visual>
</link>

<!-- JOINTS -->

<joint name='body_link_joint' type='fixed'>
    <parent link='base_footprint' />
    <child link='base_link' />
    <origin xyz='0 0 ${base_offset_z}' rpy='0 0 0'/>
</joint>

<joint name='nav_module_mount_joint' type='fixed'>
  <parent link='base_link'/>
  <child link='nav_module_mount'/>
  <origin xyz='${nav_offset_x} 0 ${nav_offset_z}' rpy='0 0 0'/>
</joint>

<joint name='lidar_joint' type='fixed'>
  <parent link='nav_module_mount'/>
  <child link='lidar_beam'/>
  <origin xyz='${lidar_cfg["offset_x"]} 0 ${lidar_cfg["offset_z"]}' rpy='0 0 0'/>
</joint>

<joint name='imu_joint' type='fixed'>
  <parent link='nav_module_mount'/>
  <child link='imu_mount'/>
  <origin xyz='${imu_cfg["offset_x"]} ${imu_cfg["offset_y"]} ${imu_cfg["offset_z"]}' rpy='0 0 0'/>
</joint>

</robot>
